/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
   /*--main-color: #f0b4a6; оранжевый */
   /* --main-color: #86b261; зелёный-оливковый*/
   /* --main-color: #228B22; Лесной*/
   /* --main-color: #94b194; */
   /* --main-color: #557a55; */
   --main-color: #FFF;
   --main-two-color: #557A6E;
}

* {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;

}

.up_bar{
  display: flex;
  width: 100%;
  height: 60px;
  background-color: var(--main-color);
}

.separator {
    height: 100%; /* Adjust the height of the separator line */
    width: 1px; /* Adjust the width of the separator line */
    background-color:  var(--main-two-color); /* Adjust the color of the separator line */
    margin: 0 10px; /* Adjust the margin as needed */
}

.upper_table_user {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 10px;
   width: 100%;
}

.upper_table_a{
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 20%;
   height: 60px;
}

.upper_table_b{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   width: 55%;
   height: 60px;
}

.upper_table_c{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: right;
   width: 25%;
   height: 60px;
}

.search_dop {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.menu_dop{
  color: #557A6E;
  font-size: 20px;
  margin-right: 20px;
  margin-left: 10px;
}

.btn {
  background-color: #557A6E;
  color: #FFF;
  border: none;
  border-radius: 4px;
  width: 120px;
  height: 42px;
  transition: .3s;
  font-size: 16px;
  margin-right: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn_settings {
  background-color: #4f9cd6;
  color: #FFF;
  border: none;
  border-radius: 4px;
  width: 120px;
  height: 42px;
  transition: .3s;
  font-size: 16px;
  margin-right: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #fca7ac;
  color: #FFF;
}

.upper_table_b .input {
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #707070;
  padding: 0 0 0 5px;
  border-radius: 4px;
  background-color: #FFF;
}

.upper_table_b .input::placeholder {
  color: #555;
  transition: all 0.3s ease;
}

.upper_table_b .input:focus::placeholder {
  color: #999;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container i{
  font-size: 20px;
  color: #707070;
}

/* .input-container button {
  width: 66px;
  height: 46px;
  background: #D8E7F3;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #707070;
  border: none;
  margin: 0 0 0 10px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
} */

.input-container button:hover {
  background: #ae59ff;
  color: #FFF;
}

.current-page {
    display: flex;
    background-color: #D8E7F3;
    color: #707070;
    font-weight: 500;
    flex-direction: column;
    width: 220px;
    height: 42px;
    font-size: 16px;

    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}



.page-numbers a{
    color: #606060;
    font-weight: 500;
    margin: 0 2px;
}

a.current {
    font-weight: 800;
    color: #303030;
    /* Другие стили, которые вы хотите применить */
}

/* Стили для кнопок */
.page-buttons button {
    padding: 5px 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0 2px;
    background-color: var(--main-two-color);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.page-buttons button.disabled-button {
    background-color: #707070;
    cursor: not-allowed;
}

/* Стили для разделителя "..." */
.upper_table_user .ellipsis {
    margin: 0 3px;
}

.page-numbers {
    display: flex;
    background: #D8E7F3;
    height: 42px;
    width: 140px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Стили для блока кнопок */
.page-buttons {
    display: flex;
    margin: 0px 20px 0 20px;
    flex-direction: row;
}

/* Таблица */

.into_h_table {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.into_h_table .a{
   color: var(--main-color);
}

td {
   border: 1px solid #e7e7e7;
   padding: 8px 20px;
   text-align: left;
}

th {
   border: 2px solid #e7e7e7;
   padding: 8px 20px;

   text-align: left;
   background-color: #FFF;
   font-weight: bold;
}


tr:nth-child(odd) {
   background-color: #FFF;
}

tr:nth-child(even) {
   background-color: #FFF;
}

tr:hover {
   background-color: #f0e2df;
}

.pagination_users_t th:nth-child(1),
.pagination_users_t td:nth-child(1) {
            width: 5% !important;
}

.pagination_users_t th:nth-child(2),
.pagination_users_t td:nth-child(2) {
            width: 15% !important;
}

.pagination_users_t th:nth-child(3),
.pagination_users_t td:nth-child(3) {
            width: 15% !important;
}

.pagination_users_t th:nth-child(4),
.pagination_users_t td:nth-child(4) {
            width: 25% !important;
}

.pagination_users_t th:nth-child(5),
.pagination_users_t td:nth-child(5) {
            width: 20% !important;
}

.pagination_users_t th:nth-child(6),
.pagination_users_t td:nth-child(6) {
            width: 20% !important;
}

/*  чек бокс */

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  color: #333;
  transition: color 0.3s;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox .checkmark {
  width: 14px;
  height: 14px;
  border: 2px solid #333;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
  transform-style: preserve-3d;
}

.custom-checkbox .checkmark::before {
  content: "\2713";
  font-size: 14px;
  color: transparent;
  transition: color 0.3s, transform 0.3s;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: #707070;
  border-color: #333;
  transform: scale(1.1) rotateZ(360deg) rotateY(360deg);
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::before {
  color: #fff;
}

.custom-checkbox:hover {
  color: #666;
}

.custom-checkbox:hover .checkmark {
  border-color: #666;
  background-color: #f0f0f0;
  transform: scale(1.05);
}

.custom-checkbox input[type="checkbox"]:focus + .checkmark {
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
  outline: none;
}

.custom-checkbox .checkmark,
.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  transition: background-color 1.3s, border-color 1.3s, color 1.3s, transform 0.3s;
}


@media (max-width: 500px) {

  .current-page{
    font-size: 6px;
  }

  .input-container input {
    border-radius: 0.8rem;
  }

  .input-container button {
    padding: 1rem;
    border-radius: 0.8rem;
  }
}

@media (max-width: 1300px) {
  .current-page{
    font-size: 12px;
    width: 60%;
  }
}

