

.sideBar .text{
   font-size: 12px;
   font-weight: 500;
   color: #707070;
   transition: all .3s ease;
   white-space: nowrap;

}



.sideBar .image{
   min-weight: 60px;
   display: flex;
   align-items: center;

}
/* 3 */
.sideBar{
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 60px;
   padding: 10px 14px;
   background: #FFF;
   /*background: #646464;*/


   z-index: 100;
}


.sideBar li{
   height: 50px;
   margin-top: 10px;
   list-style: none;
   display: flex;
   align-items: center;
}

.sideBar li a{
   display: flex;
   flex-direction: column;
}

.sideBar .menu {
   margin-top: 25px;
}

.sideBar header {
   position: relative;


}

.sideBar li .icon {
   min-width: 60px;
   font-size: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.sideBar li .icon,
.sideBar li .text{
   color: #707070;
   transition: all .3s ease;
}

.sideBar .image-text img{
  width: 40px;
  border-radius: 6px;
}

.sideBar header .image-text{
   display: flex;
   align-items: center;
   justify-content: center;
}

header .image-text .header-text {
   display: flex;
   flex-direction: column;

}

.header-text .name {
   display: flex;
   font-weight: 600;
   font-size: 14px;
   justify-content: center;
}

.header-text .professions {
   margin-top: -2px;
}



.sideBar li a{
   width: 100%;
   height: 100%;
   text-decoration: none;
   display: flex;
   align-items: center;
   border-radius: 6px;
   transition: all .3s ease;
}

.sideBar ul a:hover .text {
   color: var(--main-color);

}

.sideBar ul a:hover .icon{
   color: var(--main-color);

}

.active-link .text{
    color: var(--main-color) !important;
    font-weight: bold;
}

.active-link .icon{
    color: var(--main-color) !important;
}


.sideBar .menu-bar {
   height: calc(100% - 70px);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}