{% extends 'main/layout.html'%}

{% block titleblock %}Страница клиентов{% endblock %}

{% block work %}
<!-- Модальное окно -->
<div id="clientModal" class="modal">
    <div class="modal-content-client-create">
        <div class="form clientModelWindow">
            <div class="title_row_client_form">
                <span class="title_form">Добавление клиента</span>
                <i class='bx bx-x icon close-button'></i>
            </div>
            <form class="clientFormCreate" method="post" action="{% url 'create_client' %}">
                {% csrf_token %}
                <div class="column">
                    <!-- Первая колонка (левая) -->
                    <label for="first_name">Имя*</label>
                    <input class="writeInput" id="first_name" name="first_name" placeholder="Введите имя">

                    <label for="last_name">Фамилия*</label>
                    <input class="writeInput" id="last_name" name="last_name" placeholder="Введите фамилию">

                    <label for="middle_name">Отчество*</label>
                    <input class="writeInput" id="middle_name" name="middle_name" placeholder="Введите отчество">

                    <label for="contact_number">Контактный номер*</label>
                    <input class="writeInput" id="contact_number" name="contact_number" placeholder="Номер телефона">

                    <label for="email">Электронная почта*</label>
                    <input class="writeInput" id="email" name="email" placeholder="Email">

                    <label for="integer_field_1">Серия паспорта*</label>
                    <input class="writeInput" id="integer_field_1" name="integer_field_1"
                           placeholder="Введите серию паспорта">

                    <label for="integer_field_2">Номер паспорта*</label>
                    <input class="writeInput" id="integer_field_2" name="integer_field_2"
                           placeholder="Введите номер паспорта">

                </div>
                <div class="column">
                    <!-- Вторая колонка (правая) -->
                    <label for="organization_name">Название организации</label>
                    <input class="writeInput" id="organization_name" name="organization_name"
                           placeholder="Введите название">

                    <label for="inn">ИНН организации*</label>
                    <input class="writeInput" id="inn" name="inn" placeholder="Введите ИНН">

                    <label for="bank_account">Расчётный счёт*</label>
                    <input class="writeInput" id="bank_account" name="bank_account"
                           placeholder="Номер расчётного счёта">

                    <label for="organization_address">Адрес предприятия</label>
                    <input class="writeInput" id="organization_address" name="organization_address"
                           placeholder="Адрес предприятия">

                    <label for="telegram_nickname">Никнейм Telegram или Telegram id</label>
                    <input class="writeInput" id="telegram_nickname" name="telegram_nickname"
                           placeholder="Выберите или введите">

                    <label for="description">Описание клиента</label>
                    <textarea class="textareaClientForm" id="description" name="description"
                              placeholder="Введите текст"></textarea>
                    <div class="create-note">
                        <button class="create-button" type="submit">Создать</button>
                    </div>
                </div>

            </form>


        </div>
    </div>
</div>

<section class="home">
    <div class="up_bar">
        <div class="upper_table_user">
            <div class="upper_table_a">
                <div class="upper_text">
                    <b3>Клиенты&nbsp;</b3>
                </div>
                <div class="separator"></div>
            </div>

            <div class="upper_table_b">
                <form method="get">
                    <div class="input-container">
                        <i class='bx bx-search icon'></i>
                        <input placeholder="Поиск и фильтры" class="input" name="search" id="searchInput"
                               type="text"
                               value="{{ search_query|default:'' }}">
                        <!--                        <button class="button" type="submit" value="Search"><i class='bx bx-search icon'></i>-->
                        <!--                        </button>-->
                    </div>

                    <!--                        <input type="submit" value="Search">-->
                    <input type="hidden" name="sort_by" value="{{ sort_by }}">
                    <input type="hidden" name="direction" value="{{ direction }}">
                </form>
                <div class="search_dop">
                    <div class="current-page">
                        <!--                            Страница {{ users.number }} из {{ users.paginator.num_pages }}-->
                        <b3>Всего сотрудников: {{ clients.paginator.count }}</b3>
                        На странице с {{ clients.start_index }} по {{ clients.end_index }}
                    </div>

                    <div class="page-buttons">
                        <div class="in-page-buttons">
                            <form class="pagination-form" method="get">
                                {% if search_query %}
                                <input type="hidden" name="search" value="{{ search_query }}">
                                {% endif %}
                                <input type="hidden" name="sort_by" value="{{ sort_by }}">
                                <input type="hidden" name="direction" value="{{ direction }}">
                                <button type="submit" name="page"
                                        value="{% if clients.has_previous %}{{ clients.previous_page_number }}{% else %}1{% endif %}"
                                        class="{% if not clients.has_previous %}disabled-button{% endif %}">
                                    <i class="fas fa-chevron-left"></i> <!-- FontAwesome иконка влево -->
                                </button>
                            </form>
                        </div>
                        <div class="in-page-buttons">
                            <form class="pagination-form" method="get">
                                {% if search_query %}
                                <input type="hidden" name="search" value="{{ search_query }}">
                                {% endif %}
                                <input type="hidden" name="sort_by" value="{{ sort_by }}">
                                <input type="hidden" name="direction" value="{{ direction }}">
                                <button type="submit" name="page"
                                        value="{% if clients.has_next %}{{ clients.next_page_number }}{% else %}{{ clients.paginator.num_pages }}{% endif %}"
                                        class="{% if not clients.has_next %}disabled-button{% endif %}">
                                    <i class="fas fa-chevron-right"></i> <!-- FontAwesome иконка вправо -->
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="page-numbers">
                        <a href="?page=1{% if search_query %}&search={{ search_query }}{% endif %}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}"
                           class="{% if clients.number == 1 %}current{% endif %}">1</a>
                        {% if clients.number > 4 %}
                        <span class="ellipsis">...</span>
                        {% endif %}
                        {% for num in page_range %}
                        {% if num != 1 and num != clients.paginator.num_pages %}
                        <a href="?page={{ num }}{% if search_query %}&search={{ search_query }}{% endif %}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}"
                           class="{% if num == clients.number %}current{% endif %}">{{ num }}</a>
                        {% endif %}
                        {% endfor %}
                        {% if clients.number < clients.paginator.num_pages|add:"-3" %}
                        <span class="ellipsis">...</span>
                        {% endif %}
                        <a href="?page={{ clients.paginator.num_pages }}{% if search_query %}&search={{ search_query }}{% endif %}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}"
                           class="{% if clients.number == clients.paginator.num_pages %}current{% endif %}">
                            {{ clients.paginator.num_pages }}</a>
                    </div>
                </div>

            </div>

            <div class="upper_table_c">
                <div class="separator"></div>
                <div class="menu_dop">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <button class="btn" id="openClientFormClientBtn">Добавить</button>
                <button class="btn_settings">Настройки</button>
            </div>

        </div>
    </div>

    <div class="table-scroll-work">
        <table class="custom-table">
            <tr>
                <th class="checkbox-cell">
                    <label class="custom-checkbox">
                        <input name="dummy" type="checkbox" value="{{ clients.id }}">
                        <span class="checkmark"></span>
                    </label>

                </th>
                <th>
                    <div class="into_h_table">
                        ФИО
                        <a href="?{% if search_query %}search={{ search_query }}&{% endif %}sort_by=last_name&direction={% if sort_by == 'last_name' and direction == 'asc' %}desc{% else %}asc{% endif %}"
                           style="color: #f0b4a6">
                            {% if sort_by == 'last_name' and direction == 'asc' %}
                            <i class="fa-solid fa-sort-down"></i>
                            {% elif sort_by == 'last_name' and direction == 'desc' %}
                            <i class="fa-solid fa-sort-up"></i>
                            {% else %}
                            <i class="fa-solid fa-sort" style="color: #707070"></i>
                            {% endif %}
                        </a>
                    </div>
                </th>
                <th>
                    <div class="into_h_table">
                        Email
                        <a href="?{% if search_query %}search={{ search_query }}&{% endif %}sort_by=email&direction={% if sort_by == 'email' and direction == 'asc' %}desc{% else %}asc{% endif %}"
                           style="color: #f0b4a6">
                            {% if sort_by == 'email' and direction == 'asc' %}
                            <i class="fa-solid fa-sort-down"></i>
                            {% elif sort_by == 'email' and direction == 'desc' %}
                            <i class="fa-solid fa-sort-up"></i>
                            {% else %}
                            <i class="fa-solid fa-sort" style="color: #707070"></i>
                            {% endif %}
                        </a>
                    </div>
                </th>
                <th>
                    <div class="into_h_table">
                        Телефон
                        <a href="?{% if search_query %}search={{ search_query }}&{% endif %}sort_by=contact_number&direction={% if sort_by == 'contact_number' and direction == 'asc' %}desc{% else %}asc{% endif %}"
                           style="color: #f0b4a6">
                            {% if sort_by == 'contact_number' and direction == 'asc' %}
                            <i class="fa-solid fa-sort-down"></i>
                            {% elif sort_by == 'contact_number' and direction == 'desc' %}
                            <i class="fa-solid fa-sort-up"></i>
                            {% else %}
                            <i class="fa-solid fa-sort" style="color: #707070"></i>
                            {% endif %}
                        </a>
                    </div>
                </th>
                <th>
                    <div class="into_h_table">
                        Организация
                        <a href="?{% if search_query %}search={{ search_query }}&{% endif %}sort_by=organization_name&direction={% if sort_by == 'organization_name' and direction == 'asc' %}desc{% else %}asc{% endif %}"
                           style="color: #f0b4a6">
                            {% if sort_by == 'organization_name' and direction == 'asc' %}
                            <i class="fa-solid fa-sort-down"></i>
                            {% elif sort_by == 'organization_name' and direction == 'desc' %}
                            <i class="fa-solid fa-sort-up"></i>
                            {% else %}
                            <i class="fa-solid fa-sort" style="color: #707070"></i>
                            {% endif %}
                        </a>
                    </div>
                </th>
                <th>
                    ИНН организации
                </th>
                <th>
                    Расчётный счёт
                </th>
            </tr>
            {% for client in clients %}
            <tr class="user-row">
                <td class="checkbox-cell">
                    <label class="custom-checkbox">
                        <input name="dummy" type="checkbox" value="{{ client.id }}">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td class="user-cell"><a href="{% url 'client-details' client.id %}">
                    {{ client.first_name }} {{ client.last_name }} {{ client.middle_name }}</a></td>
                <td class="user-cell"><a href="{% url 'client-details' client.id %}">{{ client.email }}</a></td>
                <td class="user-cell"><a href="{% url 'client-details' client.id %}">{{ client.contact_number }}</a>
                </td>
                <td class="user-cell"><a href="{% url 'client-details' client.id %}">{{ client.organization_name }}</a>
                </td>
                <td class="user-cell"><a href="{% url 'client-details' client.id %}">{{ client.inn }}</a></td>
                <td class="user-cell"><a href="{% url 'client-details' client.id %}">{{ client.bank_account }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>


</section>

<script>
    // Открытие модального окна
document.getElementById('openClientFormClientBtn').addEventListener('click', function() {
    document.getElementById('clientModal').style.display = 'block';
});

// Закрытие модального окна при нажатии кнопки "Закрыть" на форме
document.querySelectorAll('.close-button').forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('clientModal').style.display = 'none';
    });
});

// Находим все ячейки с классом "user-cell"
const userCells = document.querySelectorAll('.user-cell');

// Добавляем обработчик события click для каждой ячейки
userCells.forEach(cell => {
    cell.addEventListener('click', () => {
        // Находим ссылку внутри ячейки и переходим по ней
        const link = cell.querySelector('a');
        if (link) {
            window.location.href = link.href;
        }
    });
});

// Добавляем класс "checked" при изменении состояния checkbox
$('.custom-checkbox input[type="checkbox"]').change(function () {
    if ($(this).prop('checked')) {
        $(this).closest('.checkbox-cell').addClass('checked');
    } else {
        $(this).closest('.checkbox-cell').removeClass('checked');
    }
});










</script>

{% endblock %}