{% extends 'main/layout.html'%}

{% block titleblock %}Страница о клиенте{% endblock %}

{% block work %}

<section class="home">
    <div class="upper_text">
        <b3>Клиент: {{ client.first_name }} {{ client.last_name }} {{ client.middle_name }}</b3>
        <b3>OneCRM</b3>
    </div>
    <div class="card_menu">
        <div class="client-details-data">
            <div class="client-details-dataone">
                <h1>Компания</h1>
                <p><strong>Организация:</strong> {{ client.organization_name }}</p>
                <p><strong>ИНН:</strong> {{ client.inn }}</p>
                <p><strong>Расчётный счёт:</strong> {{ client.bank_account }}</p>
                <p><strong>Адрес:</strong> {{ client.organization_address }}</p>
            </div>
            <div class="client-details-datatwo">
                <h1>Контактное лицо</h1>
                <p><strong>ФИО:</strong> {{ client.first_name }} {{ client.last_name }} {{ client.middle_name }}</p>
                <p><strong>Email:</strong> {{ client.email }}</p>
                <p><strong>Телефон:</strong> {{ client.contact_number }}</p>
                <p><strong>Telegram:</strong> {{ client.telegram_nickname }}</p>
            </div>
            <div class="client-details-datathree">
                <h1>Описание</h1>
                <p><strong>Описание:</strong> {{ client.description }}</p>
            </div>
            <div class="client-details-datafour">
                <button class="edit-button">Изменить</button>
                <button class="client-button-to-tg">Рассылка</button>
                <button class="client-button-excel">Выписка Excel</button>
                <button class="client-button-pdf">Выписка PDF</button>
            </div>

        </div>
        <hr style="border-color: #707070; border-width: 1px; width: 100%;">
        <div class="upper_table_user">
            <p>Договора</p>
        </div>
        <table>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Email</th>
                <th>Телефон</th>
                <th>Статус</th>
            </tr>
            <tr>
                <td>Иван</td>
                <td>Иванов</td>
                <td>ivan@example.com</td>
                <td>+123456789</td>
                <td>Админ</td>

            </tr>
            <tr>
                <td>Петр</td>
                <td>Петров</td>
                <td>petr@example.com</td>
                <td>+987654321</td>
                <td>Пользователь</td>
            </tr>
            <tr>
                <td>Кокос</td>
                <td>Кокосов</td>
                <td>koko@example.com</td>
                <td>+987654321</td>
                <td>Пользователь</td>
            </tr>
            <!-- Добавьте больше строк пользователей по желанию -->
        </table>
    </div>

</section>

{% endblock %}