{% extends 'main/layout.html'%}

{% block titleblock %}Шаблоны документов{% endblock %}

{% block work %}
<!-- Модальное окно -->
<div id="clientModal" class="modal">
    <div class="modal-content-docks-pattern">
        <div class="form clientModelWindow">
            <div class="title_row_client_form">
                <span class="title_form">Новый шаблон документов</span>
                <i class='bx bx-x icon close-button'></i>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="column">
                    <!-- Первая колонка (левая) -->
                    <label for="select3">Название</label>
                    <input list="select3" id="select3Input" name="select1Input" placeholder="Выберите или введите">
                    <datalist id="select3">
                        <option value="Опция 1">
                        <option value="Опция 2">
                        <option value="Опция 3">
                    </datalist>
                    <label for="file">Загрузка файлов</label>
                    <input type="file" id="file" name="file" multiple>


                </div>
                <div class="column">
                    <label for="description_docks">Описание</label>
                    <textarea class="textareaDocksPattern" id="description_docks" name="textarea"
                              placeholder="Введите текст"></textarea>
                </div>

            </form>
            <div class="create-note">
                <button class="create-button">Создать</button>
            </div>

        </div>
    </div>
</div>


<section class="home">
    <div class="upper_text">
        <b3>Шаблоны документов</b3>
        <b3>OneCRM</b3>
    </div>
    <div class="card_menu">
        <form method="get">
            <input type="text" name="search" value="{{ search_query }}" placeholder="Search...">
            <input type="submit" value="Search">
        </form>


        <table>
            <thead>
            <tr>
                <th>Your Field</th>
                <th>Your Field</th>
                <!-- Добавь другие заголовки для фильтрации -->
            </tr>
            </thead>
            <tbody>
            {% for user in Users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.username }}</td>
                <!-- Добавь другие поля для отображения данных -->
            </tr>
            {% endfor %}
            </tbody>
        </table>


            <div class="pagination">
    <span class="step-links">
        {% if Users.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ queryset.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ Users.number }} of {{ Users.paginator.num_pages }}.
        </span>

        {% if Users.has_next %}
            <a href="?page={{ queryset.next_page_number }}">next</a>
            <a href="?page={{ queryset.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
            </div>


    </div>
</section>

<!--<script>-->
<!--    // Открытие модального окна-->
<!--document.getElementById('openDocksCreateBtn').addEventListener('click', function() {-->
<!--    document.getElementById('clientModal').style.display = 'block';-->
<!--});-->

<!--// Закрытие модального окна при нажатии кнопки "Закрыть" на форме-->
<!--document.querySelectorAll('.close-button').forEach(function(element) {-->
<!--    element.addEventListener('click', function() {-->
<!--        document.getElementById('clientModal').style.display = 'none';-->
<!--    });-->
<!--});-->


<!--</script>-->
{% endblock %}
