{% extends 'main/layout.html'%}

{% block titleblock %}Главная страница{% endblock %}

{% block work %}

<section class="home">
    {% if user.is_authenticated %}
    <div class="text">Домашняя страница</div>
    {% else %}
    <div class="mini_body">
        <div class="container">
            <div class="forms">
                <div class="form login">
                    <span class="title_form">Вход</span>
                    <form method="post" action="{% url 'main' %}">
                        {% csrf_token %}
                        <ul>
                            <li class="input-field pole">
                                <i class='bx bx-envelope icon'></i>
                                <input type="email" placeholder="Введи свой логин" name="email" required>
                            </li>
                            <li class="input-field pole">
                                <i class='bx bx-lock-alt icon'></i>
                                <input type="password" class="password" placeholder="Введи свой пароль" name="password" required>
                            </li>
                        </ul>
                        <div class="checkbox-text">
                            <div class="checkbox-content">
                                <input type="checkbox" id="logCheck">
                                <label for="logCheck" class="text_log">Запомнить меня</label>
                            </div>
                            <a href="#" class="text_log">Забыли пароль?</a>
                        </div>
                        <li class="input-field button">
                            <input type="button" value="Войти">
                        </li>
                    </form>
                    <div class="login-singup">
                        <a href="#" class="text_log singup-link">Регистрация</a>
                    </div>
                </div>

                <!-- Register -->
                <div class="form singup">
                    <span class="title_form">Регистрация</span>
                    <form method="post" action="{% url 'main' %}">
                        {% csrf_token %}
                        <ul>
                            <li class="input-field pole">
                                <i class='bx bx-user icon'></i>
                                <input type="email" placeholder="Введи своё имя" name="email" required>
                            </li>
                            <li class="input-field pole">
                                <i class='bx bx-envelope icon'></i>
                                <input type="email" placeholder="Введи свой логин" name="email" required>
                            </li>
                            <li class="input-field pole">
                                <i class='bx bx-lock-alt icon'></i>
                                <input type="password" class="password" placeholder="Придумай пароль" name="password" required>
                            </li>
                            <li class="input-field pole">
                                <i class='bx bx-lock-alt icon'></i>
                                <input type="password" class="password" placeholder="Повтори пароль" name="password" required>
                            </li>
                        </ul>
                        <div class="checkbox-text">
                            <div class="checkbox-content">
                                <input type="checkbox" id="termCon">
                                <label for="termCon" class="text_log">Я принимаю все условия</label>
                            </div>
                            <a href="#" class="text_log">Ознакомиться</a>
                        </div>
                        <li class="input-field button">
                            <input type="button" value="Зарегистрироваться">
                        </li>
                    </form>
                    <div class="login-singup">
                        <a href="#" class="text_log login-link">Войти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% endif %}
{% endblock %}