{% extends 'main/layout.html'%}

{% block titleblock %}Страница персонала{% endblock %}

{% block work %}
<!-- Модальное окно -->
<div class="myModal" style="display: none;">
    <div class="modal-content"></div>
    <span class="close">&times;</span>
</div>


<section class="home">


        <div class="up_bar">
            <div class="upper_table_user">
                <div class="upper_table">
                    <button class="btn">Добавить</button>


                    <form method="get">
                        <div class="input-container">
                            <input placeholder="Найти сотрудника" class="input" name="search" id="searchInput"
                                   type="text"
                                   value="{{ search_query|default:'' }}">
                            <button class="button" type="submit" value="Search"><i class='bx bx-search icon'></i>
                            </button>
                        </div>


                        <!--                        <input type="submit" value="Search">-->
                        <input type="hidden" name="sort_by" value="{{ sort_by }}">
                        <input type="hidden" name="direction" value="{{ direction }}">
                    </form>

                </div>
                <div class="upper_table">
                    <div class="upper_text">
                        <b3>Персонал&nbsp;</b3>
                        <b3>OneCRM</b3>
                    </div>
                </div>

                <div class="upper_table">
                    <div class="current-page">
                        <!--                            Страница {{ users.number }} из {{ users.paginator.num_pages }}-->
                        <b3>Всего сотрудников: {{ users.paginator.count }}</b3>
                        На странице с {{ users.start_index }} по {{ users.end_index }}
                    </div>

                    <div class="page-buttons">
                        <div class="in-page-buttons">
                            <form class="pagination-form" method="get">
                                {% if search_query %}
                                <input type="hidden" name="search" value="{{ search_query }}">
                                {% endif %}
                                <input type="hidden" name="sort_by" value="{{ sort_by }}">
                                <input type="hidden" name="direction" value="{{ direction }}">
                                <button type="submit" name="page"
                                        value="{% if users.has_previous %}{{ users.previous_page_number }}{% else %}1{% endif %}"
                                        class="{% if not users.has_previous %}disabled-button{% endif %}">
                                    <i class="fas fa-chevron-left"></i> <!-- FontAwesome иконка влево -->
                                </button>
                            </form>
                        </div>
                        <div class="in-page-buttons">
                            <form class="pagination-form" method="get">
                                {% if search_query %}
                                <input type="hidden" name="search" value="{{ search_query }}">
                                {% endif %}
                                <input type="hidden" name="sort_by" value="{{ sort_by }}">
                                <input type="hidden" name="direction" value="{{ direction }}">
                                <button type="submit" name="page"
                                        value="{% if users.has_next %}{{ users.next_page_number }}{% else %}{{ users.paginator.num_pages }}{% endif %}"
                                        class="{% if not users.has_next %}disabled-button{% endif %}">
                                    <i class="fas fa-chevron-right"></i> <!-- FontAwesome иконка вправо -->
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="page-numbers">
                        <a href="?page=1{% if search_query %}&search={{ search_query }}{% endif %}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}"
                           class="{% if users.number == 1 %}current{% endif %}">1</a>
                        {% if users.number > 4 %}
                        <span class="ellipsis">...</span>
                        {% endif %}
                        {% for num in page_range %}
                        {% if num != 1 and num != users.paginator.num_pages %}
                        <a href="?page={{ num }}{% if search_query %}&search={{ search_query }}{% endif %}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}"
                           class="{% if num == users.number %}current{% endif %}">{{ num }}</a>
                        {% endif %}
                        {% endfor %}
                        {% if users.number < users.paginator.num_pages|add:"-3" %}
                        <span class="ellipsis">...</span>
                        {% endif %}
                        <a href="?page={{ users.paginator.num_pages }}{% if search_query %}&search={{ search_query }}{% endif %}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}{% if direction %}&direction={{ direction }}{% endif %}"
                           class="{% if users.number == users.paginator.num_pages %}current{% endif %}">
                            {{ users.paginator.num_pages }}</a>
                    </div>
                </div>

            </div>
        </div>

        <!--        <div class="card_menu">-->
        <!--            <div class="upper_text">-->

        <!--                <b3>OneCRM</b3>-->
        <!--            </div>-->

        <div class="table-scroll-work">
            <table class="pagination_users_t" id="user-table">
                <thead>
                <tr>
                    <th>
                        <label class="custom-checkbox">
                            <input name="dummy" type="checkbox" value="{{ users.id }}">
                            <span class="checkmark"></span>
                        </label>

                    </th>
                    <th>
                        <div class="into_h_table">
                            Имя
                            <a href="?{% if search_query %}search={{ search_query }}&{% endif %}sort_by=first_name&direction={% if sort_by == 'first_name' and direction == 'asc' %}desc{% else %}asc{% endif %}"
                               style="color: #f0b4a6">
                                {% if sort_by == 'first_name' and direction == 'asc' %}
                                <i class="fa-solid fa-sort-down"></i>
                                {% elif sort_by == 'first_name' and direction == 'desc' %}
                                <i class="fa-solid fa-sort-up"></i>
                                {% else %}
                                <i class="fa-solid fa-sort" style="color: #707070"></i>
                                {% endif %}
                            </a>
                        </div>


                    </th>
                    <th>
                        <div class="into_h_table">
                            Фамилия
                            <a href="?{% if search_query %}search={{ search_query }}&{% endif %}sort_by=last_name&direction={% if sort_by == 'last_name' and direction == 'asc' %}desc{% else %}asc{% endif %}"
                               style="color: #f0b4a6">
                                {% if sort_by == 'last_name' and direction == 'asc' %}
                                <i class="fa-solid fa-sort-down"></i>
                                {% elif sort_by == 'last_name' and direction == 'desc' %}
                                <i class="fa-solid fa-sort-up"></i>
                                {% else %}
                                <i class="fa-solid fa-sort" style="color: #707070"></i>
                                {% endif %}
                            </a>
                        </div>
                    </th>
                    <th>
                        <div class="into_h_table">
                            Email
                            <a href="?{% if search_query %}search={{ search_query }}&{% endif %}sort_by=email&direction={% if sort_by == 'email' and direction == 'asc' %}desc{% else %}asc{% endif %}"
                               style="color: #f0b4a6">
                                {% if sort_by == 'email' and direction == 'asc' %}
                                <i class="fa-solid fa-sort-down"></i>
                                {% elif sort_by == 'email' and direction == 'desc' %}
                                <i class="fa-solid fa-sort-up"></i>
                                {% else %}
                                <i class="fa-solid fa-sort" style="color: #707070"></i>
                                {% endif %}
                            </a>
                        </div>
                    </th>
                    <!--                        username date  -->
                    <th>
                        <div class="into_h_table">
                            Телефон
                            <a href="?{% if search_query %}search={{ search_query }}&{% endif %}sort_by=username&direction={% if sort_by == 'username' and direction == 'asc' %}desc{% else %}asc{% endif %}"
                               style="color: #f0b4a6">
                                {% if sort_by == 'username' and direction == 'asc' %}
                                <i class="fa-solid fa-sort-down"></i>
                                {% elif sort_by == 'username' and direction == 'desc' %}
                                <i class="fa-solid fa-sort-up"></i>
                                {% else %}
                                <i class="fa-solid fa-sort" style="color: #707070"></i>
                                {% endif %}
                            </a>
                        </div>
                    </th>
                    <th>
                        <div class="into_h_table">
                            Регистрация
                            <a href="?{% if search_query %}search={{ search_query }}&{% endif %}sort_by=date_joined&direction={% if sort_by == 'date_joined' and direction == 'asc' %}desc{% else %}asc{% endif %}"
                               style="color: #f0b4a6">
                                {% if sort_by == 'date_joined' and direction == 'asc' %}
                                <i class="fa-solid fa-sort-down"></i>
                                {% elif sort_by == 'date_joined' and direction == 'desc' %}
                                <i class="fa-solid fa-sort-up"></i>
                                {% else %}
                                <i class="fa-solid fa-sort" style="color: #707070"></i>
                                {% endif %}
                            </a>
                        </div>
                    </th>
                    <!--                        Старый вариант (решил сохранить)-->
                    <!--                        <th>Дата рег <a-->
                    <!--                                href="?{% if search_query %}search={{ search_query }}&{% endif %}sort_by=date_joined&direction={{ direction }}"-->
                    <!--                                style="color: green"><i class="fa-solid fa-sort"></i></a></th>-->
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr class="user-row">
                    <td>
                        <label class="custom-checkbox">
                            <input name="dummy" type="checkbox" value="{{ user.id }}">
                            <span class="checkmark"></span>
                        </label>
                    </td>
                    <td class="user-cell"><a href="{% url 'user-details' user.id %}">{{ user.first_name }}</a></td>
                    <td class="user-cell"><a href="{% url 'user-details' user.id %}">{{ user.last_name }}</a></td>
                    <td class="user-cell"><a href="{% url 'user-details' user.id %}">{{ user.email }}</a></td>
                    <td class="user-cell"><a href="{% url 'user-details' user.id %}">{{ user.username }}</a></td>
                    <td class="user-cell"><a href="{% url 'user-details' user.id %}">
                        {{ user.date_joined|date:"d.m.Y" }}</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


    <!--    </div>-->


</section>
<script>
    // Находим все ячейки с классом "user-cell"
    const userCells = document.querySelectorAll('.user-cell');

    // Добавляем обработчик события click для каждой ячейки
    userCells.forEach(cell => {
        cell.addEventListener('click', () => {
            // Находим ссылку внутри ячейки и переходим по ней
            const link = cell.querySelector('a');
            if (link) {
                window.location.href = link.href;
            }
        });
    });
// jquery запрос
$('.disabled-button').click(function(event) {
    event.preventDefault();
    return false;
});





$(document).ready(function () {
    $('#searchInput').on('input', function () {
        var searchText = $(this).val().toLowerCase();
        $('#full-data-table tbody tr').each(function () {
            var rowText = $(this).text().toLowerCase();
            if (rowText.indexOf(searchText) === -1) {
                $(this).hide();
            } else {
                $(this).show();
            }
        });
    });
});






</script>

{% endblock %}