{% extends 'main/layout.html'%}

{% block titleblock %}Рабочая страница{% endblock %}

{% block work %}

<!-- Модальное окно -->
<div id="clientModal" class="modal">
    <div class="modal-content-client">
        <div class="form clientModelWindow">
            <div class="title_row_client_form">
                <span class="title_form">Новая заявка</span>
                <i class='bx bx-x icon close-button'></i>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="column">
                    <!-- Первая колонка (левая) -->
                    <label for="select3">Тип заявки</label>
                    <input list="select3" id="select3Input" name="select1Input" placeholder="Выберите или введите">
                    <datalist id="select3">
                        <option value="Опция 1">
                        <option value="Опция 2">
                        <option value="Опция 3">
                    </datalist>
                    <label for="textarea">Описание</label>
                    <textarea id="textarea" name="textarea" placeholder="Введите текст"></textarea>

                    <label for="file">Загрузка файлов</label>
                    <input type="file" id="file" name="file" multiple>
                </div>
                <div class="column">
                    <!-- Вторая колонка (правая) -->
                    <label for="select1">Клиент</label>
                    <input list="select1" id="select1Input" name="select1Input" placeholder="Выберите или введите">
                    <datalist id="select1">
                        {% for client in clients %}
                        <option value="{{ client.first_name }} {{ client.last_name }}">{{ client.organization_name }}
                        </option>
                        {% endfor %}
                    </datalist>

                    <label for="select2">Договор</label>
                    <input list="select2" id="select2Input" name="select2Input" placeholder="Выберите или введите">
                    <datalist id="select2">
                        <option value="Опция 1">
                        <option value="Опция 2">
                        <option value="Опция 3">
                    </datalist>

                    <label for="select4">Объект обслуживания</label>
                    <input list="select4" id="select4Input" name="select2Input" placeholder="Выберите или введите">
                    <datalist id="select4">
                        <option value="КНС">
                        <option value="ДНС">
                        <option value="ГВС">
                        <option value="XВС">
                    </datalist>

                    <label for="select5">Оборудование</label>
                    <input list="select5" id="select5Input" name="select2Input" placeholder="Выберите или введите">
                    <datalist id="select5">
                        <option value="Насосы">
                        <option value="Шкафы управления">
                        <option value="Насосы и шкафы управления">
                    </datalist>

                    <label for="select6">Ответственный сотрудник</label>
                    <input list="select6" id="select6Input" name="select2Input" placeholder="Выберите или введите">
                    <datalist id="select6">
                        {% for user in users %}
                        <option value="{{ user.first_name }} {{ user.last_name }}">
                            {% endfor %}
                    </datalist>

                </div>

            </form>
            <div class="create-note">
                <button class="create-button">Создать</button>
            </div>

        </div>
    </div>
</div>

<section class="home">
    <div class="upper_text">
        <b3>Страница Заявок</b3>
        <b3>OneCRM</b3>
    </div>
    <div class="card_menu">

        <div class="table-container-work">
            <div class="upper_table_user">
                <button class="btn" id="openModalBtn">Добавить</button>
                <div class="search_table">
                    <input placeholder="Найти сотрудника" class="input" name="firstName" type="text">
                </div>
                <b3>Страница 1</b3>
                <div id="pagination">
                    <button id="prev-page">Предыдущая</button>
                    <button id="next-page">Следующая</button>
                    <div id="page-buttons">
                        <!-- Кнопки для каждой страницы будут добавлены здесь -->
                    </div>
                </div>
            </div>
            <div class="table-scroll-work">
                <table>
                    <thead>
                    <tr>
                        <th>Заголовок 1</th>
                        <th>Заголовок 2</th>
                        <th>Заголовок 3</th>
                        <th>Заголовок 4</th>
                        <!-- Другие заголовки -->
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Содержимое 1</td>
                        <td>Содержимое 2</td>
                        <td>Содержимое 3</td>
                        <td>Содержимое 4</td>
                        <!-- Другие ячейки содержимого -->
                    </tr>
                    <tr>
                        <td>Содержимое 5</td>
                        <td>Содержимое 6</td>
                        <td>Содержимое 7</td>
                        <td>Содержимое 8</td>
                        <!-- Другие ячейки содержимого -->
                    </tr>
                    <tr>
                        <td>Содержимое 1</td>
                        <td>Содержимое 2</td>
                        <td>Содержимое 3</td>
                        <td>Содержимое 4</td>
                        <!-- Другие ячейки содержимого -->
                    </tr>
                    <tr>
                        <td>Содержимое 1</td>
                        <td>Содержимое 2</td>
                        <td>Содержимое 3</td>
                        <td>Содержимое 4</td>
                        <!-- Другие ячейки содержимого -->
                    </tr>
                    <tr>
                        <td>Содержимое 1</td>
                        <td>Содержимое 2</td>
                        <td>Содержимое 3</td>
                        <td>Содержимое 4</td>
                        <!-- Другие ячейки содержимого -->
                    </tr>
                    <tr>
                        <td>Содержимое 1</td>
                        <td>Содержимое 2</td>
                        <td>Содержимое 3</td>
                        <td>Содержимое 4</td>
                        <!-- Другие ячейки содержимого -->
                    </tr>
                    <tr>
                        <td>Содержимое 5</td>
                        <td>Содержимое 6</td>
                        <td>Содержимое 7</td>
                        <td>Содержимое 8</td>
                        <!-- Другие ячейки содержимого -->
                    </tr>
                    <tr>
                        <td>Содержимое 1</td>
                        <td>Содержимое 2</td>
                        <td>Содержимое 3</td>
                        <td>Содержимое 4</td>
                        <!-- Другие ячейки содержимого -->
                    </tr>
                    <tr>
                        <td>Содержимое 1</td>
                        <td>Содержимое 2</td>
                        <td>Содержимое 3</td>
                        <td>Содержимое 4</td>
                        <!-- Другие ячейки содержимого -->
                    </tr>
                    <tr>
                        <td>Содержимое 1</td>
                        <td>Содержимое 2</td>
                        <td>Содержимое 3</td>
                        <td>Содержимое 4</td>
                        <!-- Другие ячейки содержимого -->
                    </tr>
                    <tr>
                        <td>Содержимое 1</td>
                        <td>Содержимое 2</td>
                        <td>Содержимое 3</td>
                        <td>Содержимое 4</td>
                        <!-- Другие ячейки содержимого -->
                    </tr>
                    <tr>
                        <td>Содержимое 5</td>
                        <td>Содержимое 6</td>
                        <td>Содержимое 7</td>
                        <td>Содержимое 8</td>
                        <!-- Другие ячейки содержимого -->
                    </tr>
                    <tr>
                        <td>Содержимое 1</td>
                        <td>Содержимое 2</td>
                        <td>Содержимое 3</td>
                        <td>Содержимое 4</td>
                        <!-- Другие ячейки содержимого -->
                    </tr>
                    <tr>
                        <td>Содержимое 1</td>
                        <td>Содержимое 2</td>
                        <td>Содержимое 3</td>
                        <td>Содержимое 4</td>
                        <!-- Другие ячейки содержимого -->
                    </tr>
                    <tr>
                        <td>Содержимое 1</td>
                        <td>Содержимое 2</td>
                        <td>Содержимое 3</td>
                        <td>Содержимое 4</td>
                        <!-- Другие ячейки содержимого -->
                    </tr>
                    <tr>
                        <td>Содержимое 1</td>
                        <td>Содержимое 2</td>
                        <td>Содержимое 3</td>
                        <td>Содержимое 4</td>
                        <!-- Другие ячейки содержимого -->
                    </tr>
                    <tr>
                        <td>Содержимое 5</td>
                        <td>Содержимое 6</td>
                        <td>Содержимое 7</td>
                        <td>Содержимое 8</td>
                        <!-- Другие ячейки содержимого -->
                    </tr>
                    <tr>
                        <td>Содержимое 1</td>
                        <td>Содержимое 2</td>
                        <td>Содержимое 3</td>
                        <td>Содержимое 4</td>
                        <!-- Другие ячейки содержимого -->
                    </tr>
                    <tr>
                        <td>Содержимое 1</td>
                        <td>Содержимое 2</td>
                        <td>Содержимое 3</td>
                        <td>Содержимое 4</td>
                        <!-- Другие ячейки содержимого -->
                    </tr>
                    <tr>
                        <td>Содержимое 1</td>
                        <td>Содержимое 2</td>
                        <td>Содержимое 3</td>
                        <td>Содержимое 4</td>
                        <!-- Другие ячейки содержимого -->
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>


</section>

<script>
    // Открытие модального окна
document.getElementById('openModalBtn').addEventListener('click', function() {
    document.getElementById('clientModal').style.display = 'block';
});

// Закрытие модального окна при нажатии кнопки "Закрыть" на форме
document.querySelectorAll('.close-button').forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('clientModal').style.display = 'none';
    });
});






</script>
{% endblock %}

